/* Reset paddings and margins */
* {
    padding: 0;
    margin: 0;
}

/* Set page to size of viewport */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1b1b;
}

#main-container{
    /* width: 280px;
    height: 500px; */
    width: 100%;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    align-items: center;
}
/* Calculation display */
#display-container{
    display: flex;
    flex-direction: column;
    /* border: solid 1px red; */
    width: inherit;
    height: 270px;
}

#result-display, #calculation-display {
    /* border: solid 1px blue; */
    flex: 1;
}

#result-display{
    flex-grow: 2;
}

#calculation-display {
    color: #ffffff;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#result-display {
    color: #ffffff;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Buttons */
button {
    border: none;
    cursor: pointer;
}

.operator {
    background-color: #FFDB58;
    color: rgb(5, 5, 5);
}

#btn-container{
    display: flex;
    width: 280px;
    height: 323px;
    /* border: solid 1px aquamarine; */
    flex-direction: column;
}

#btn-first-section{
    display: flex;
    padding: 5px 0 5px 0;
    height: 60px;
    width: inherit;
    justify-content: space-around;
}

#clear-btn, #delete-btn{
    /* padding: 5px; */
    /* border: solid 1px red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    width: 45%;

}

#the-clear-btn, #the-delete-btn{
    width: 100%;
    height: 100%;
}

#btn-second-section{
    display: flex;
    width: inherit;
    flex: 1;
    flex-direction: column;
    /* background-color: #1d1b1b; */
}

.btn-pack {
    display: flex;
    flex: 1;
    /* border: solid 1px blueviolet; */
    gap: 15px;
    padding: 5px;
}

.each-btn {
    display: flex;
    flex: 1;
    /* border: solid 1px black; */
    border-radius: 50px;
}

.each-btn-num, .each-btn-sign {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-size: 25px;
}

.num-0 {
    flex-grow: 2.3;
}


