/* Reset paddings and margins */
* {
    padding: 0;
    margin: 0;
}

/* Set page to size of viewport */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container{
    width: 350px;
    height: 500px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

#display-container{
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    width: inherit;
    height: 170px;
}

#result-display, #calculation-display {
    border: solid 1px blue;
    flex: 1;
}

#result-display{
    flex-grow: 2;
}

#btn-container{
    display: flex;
    width: inherit;
    height: inherit;
    border: solid 1px aquamarine;
    flex-direction: column;
}

#btn-first-section{
    display: flex;
    padding: 5px 0 5px 0;
    height: 60px;
    width: inherit;
    justify-content: space-around;
}

#clear-btn, #delete-btn{
    /* padding: 5px; */
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    width: 45%;

}

#the-clear-btn, #the-delete-btn{

}

#btn-second-section{
    display: flex;
    width: inherit;
    flex: 1;
    flex-direction: column;
}

.btn-pack {
    display: flex;
    flex: 1;
    border: solid 1px blueviolet;
}

.each-btn {
    display: flex;
    flex: 1;
    border: solid 1px black;
}


